extends layout

block content
  .container
    h3.text-center Home page

    .row
      .com-md-6
        label Input real link
          span.red-color *
        input.form-control.real-link(placeholder='Input real url')
      .com-md-6
        label Input short link (not required)
        input.form-control.short-link(placeholder='Input short url')
      .com-md-6.m-t-10
        button.form-control.btn.btn-default.save-btn Send

    .row.min-height-50.m-t-10.m-b-10
      .errors-list
        span.animation-text.red-color.col-md-12.error-real-link This URL does not exist
        span.animation-text.red-color.col-md-12.error-short-link This short URL is already in use
    .row
      label Your links list
      .list-links
  script(src='/javascripts/home.js')
