extends layout

block content
  .container
    .row
      .com-md-6
        label Input real link
          span.red-color *
        input.form-control.real-link(placeholder='Input real url')
      .com-md-6
        label Input short link (not required)
        input.form-control.short-link(placeholder='Input short url')
      .com-md-6.m-t-10
        button.form-control.btn.btn-default.save-btn Send
