doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/myStyle.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    block content
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.min.js')
  script(src='/javascripts/home.js')
  script(src='/javascripts/login.js')
