extends layout

block content
  .container
    h3.text-center Login
    .row
      .com-md-6
        label Email
        input.form-control.login-email(placeholder='Input email')
      .com-md-6
        label Password
        input.form-control.login-password(placeholder='Input password')
      .com-md-6.m-t-10
        button.form-control.btn.btn-default(onclick='login()') Sign in
      .com-md-6.m-t-10
        a(href='/registration') Sign up

    .row.min-height-50.m-t-10.m-b-10
      .errors-list
        span.animation-text.red-color.col-md-12.error-login Email or password not found

